<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="[%5p] [%t %d{hh:mm:ss}] (%F:%M:%L) %m%n" />
		</Console>
		<Async name="ASYNC">
	   		<AppenderRef ref="CONSOLE"/>
	    </Async>
	</Appenders>
	<Loggers>
		<Root level="INFO">
	   		<AppenderRef ref="ASYNC"/>
	    </Root>
	</Loggers>
</Configuration>